@model IEnumerable<Snake.Models.Score>
@{
    ViewData["Title"] = "High Scores";
}

<h1><a asp-controller="Auth" asp-action="Index">Snake</a> Top 20 High Scores</h1>

<div class="row">
    <div class="col-md-3">
        <strong>Name</strong>
    </div>
    <div class="col-md-3">
        <strong>Points</strong>
    </div>
    <div class="col-md-6">
        <strong>Grid Size</strong>
    </div>
</div>

@foreach (var score in Model)
{
    <div class="row">
        <div class="col-md-3">
            @Html.DisplayFor(unused => score.User.Name)
        </div>
        <div class="col-md-3">
            @Html.DisplayFor(unused => score.Points)
        </div>
        <div class="col-md-6">
            @score.GridWidth x @score.GridHeight = @score.GridSize
        </div>
    </div>
}
